@tailwind base;
@tailwind components;
@tailwind utilities;

/* src/styles/globals.css */
@import url('https://fonts.googleapis.com/css2?family=Playfair+Display:wght@700&family=Roboto:wght@100;200;300;400;500;600;700;800;900&display=swap');

body {
  font-family: 'Roboto', sans-serif;
  background-color: #f4f4f4;
  color: #333;
  margin: 0;
  padding: 0;
  line-height: 1.6;
}
p {
  font-family: 'Roboto', sans-serif;
}
h1,
h2 {
  font-family: 'Playfair Display', serif;
}

a {
  color: inherit;
  text-decoration: none;
}

* {
  box-sizing: border-box;
}



@layer utilities {
  .text-balance {
    text-wrap: balance;
  }
}

/* Character info */

h1 {
  text-align: center;
  color: #d8345f;
  margin-bottom: 20px;
  font-size: 2rem;
}

h2 {
  font-size: 1.5rem;
  text-transform: uppercase;
}

ul {
  list-style-type: none;
  padding: 0;
}

ul li {
  padding: 5px 0; font-family: 'Roboto', sans-serif;
}